body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: black;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 40px;
    color: #4caf50;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #45a049;
    color: aqua;
  }

  small {
    color: #777
  }

  #DisplayEmail {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    color:#4caf50;
  }